/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-size: cover;
  background-position: center;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

label {
  padding-right: 5px;
  padding-left: 5px;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}

.player-0-panel {
  width: 35%;
  float: left;
  height: 120px;
  /* padding: 10px; */
  margin-inline: 20px;
  margin-top: 20px;
}
.player-1-panel {
  width: 35%;
  float: right;
  height: 120px;
  margin-inline: 20px;
  margin-top: 20px;
}
.input-field {
  /* position: absolute;
  top: 20px;
  left: 50%; */
  /* transform: translateX(-50%); */
  width: 350px;
  margin-inline: auto;
  margin-block: 10px;
  color: black;
  /* border: 3px solid #bfd9f3; */
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  padding: 5px;
  text-align: left;
  padding-left: 60px;
}

.dificultyLvl{
  display: none;
}
.form-check-input {
  position: relative;
  margin-left: 0;
}
.form-check {
  padding-left: 0;
}

.tiles-number-form {
  text-align: center;
  display: block;
}

.form-control {
  display: inline;
  width: auto;
  font-size: 1.2rem;
}
.options{
  border: 2px solid #bfd9f3;
  border-radius: 4px;
  width: fit-content;
  margin-inline: auto;
  width: max-content;
}
.btn-start{
  position: absolute;
  transform: translateX(-50%);
  bottom: 40px;
}
.btn-new{
  position: absolute;
  width: 261px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.btn-restart{
  position: absolute;
  width: 261px;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.title{
  color: #16324e;
  text-align: center;
  font-size: 4.9rem;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
}

button {
  /* position: absolute;
  width: 261px;
  top: 95px;
  left: 50%;
  transform: translateX(-50%); */
  width: 350px;
  margin-block: 10px;
  color: #555;
  background: #bfd9f3;
  border: none;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  padding: 5px;
}

button:hover {
  color: #fff;
  background-color: #16324e;
}
/* button:hover i { margin-right: 20px; } */

button:focus {
  outline: none;
}
.t8 {
  padding: 5px;
  width: 140px;
}
.t16 {
  padding: 5px;
  width: 115px;
}
.t24 {
  padding: 5px;
  width: 100px;
}
.container {
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 300px;
  margin-top: 160px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  color: darkgrey;
  width: 240px;
  margin-inline: auto;
}

.player-score {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: darkgrey;
  padding-bottom: 2px;
}

.active .player-name {
  font-weight: 400;
  color: #286b92;
  border: 2px solid;
}
.active .player-score{
  font-weight: 400;
  color: #286b92;
}
.active .player-name::after {
  /* content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #286b92;
  top: -8px;
  right: 270px; */
}

.player-current-box {
  background-color: #286b92;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #222;
}

.player-current-score {
  font-size: 30px;
}

/* i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
} */

.winner {
  background-color: #fff;
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
  top: 16px;
}
.draw .player-name {
  font-weight: 300;
  color: #eb4d4d;
  top: 160px;
  right: 300px;
}

.bg {
  background-image: none;
  /* background-image:
    linear-gradient(to bottom, rgba(250, 249, 252, 0.52), rgba(56, 146, 197, 0.73)); */
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
  padding: 20px;
}
@media (min-width: 950px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 768px) {
  /* .container {
    min-width: 760px !important;
  } */
  .input-field {
    /* top: 30px; */
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px !important;
    padding-bottom: 20px;
  }
  .wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.1) !important;
  }
  .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    padding: 20px;
  }
  .t8 .tile {
    padding: 5px;
    width: 100px;
  }
  .t24 .tile {
    padding: 5px;
    width: 100px;
  }
}

@media only screen and (max-height: 451px) {
  .tile {
    padding: 5px;
    width: 90px !important;
  }
}
@media (min-height: 600px) {
  .bg {
    background-image: linear-gradient(
      to bottom,
      rgba(250, 249, 252, 0.52),
      rgba(56, 146, 197, 0.73)
    );
  }
}

@media (min-height: 550px) {
  .t8 {
    padding: 5px;
    width: 150px;
  }
}

@media (min-height: 1000px) {
  .bg {
    width: 102%;
    height: 102%;
  }
  .wrapper {
    width: 90%;
    margin-left: 8px;
    padding-bottom: 20px;
  }
  .container {
    padding-bottom: 20px !important;
  }
  .t16 {
    padding: 5px;
    width: 140px;
  }

  .t24 {
    padding: 5px;
    width: 150px;
  }
}

@media (min-width: 981px) {
  .t16 {
    padding: 5px;
    width: 150px;
  }

  .t24 {
    padding: 5px;
    width: 120px;
  }
  .container {
    padding-bottom: 20px !important;
  }
}

@media (max-width: 1000px) and (min-height: 995px) {
  .title{
font-size: 7rem;
padding-top: 20px;
  }
  .options{
    padding-inline: 60px;
  }
  .input-field{
        width: max-content;
        margin-inline: auto;
        margin-block: 10px;
        color: black;
        /* border: 3px solid #bfd9f3; */
        font-family: 'Cabin', sans-serif;
        font-size: 40px;
  }
  .container {
    min-height: 400px;
    margin-top: 260px;
  }
  .form-control {
    font-size: 2rem;
}
}
